{{list-view itemArray=agents sortType=sortType sortField="id" searchField='name'}}

<button {{action 'add'}}> Add </button>
<button {{action 'remove'}}> Delete </button>
<button {{action 'sort' 'asc'}}> Sort ASC </button>
<button {{action 'sort' 'desc'}}> Sort Desc </button>
